$ratio: 100;
@function rem($args) { @return $args/$ratio+rem; }
@mixin font-color($font, $color) { font-size: rem($font); color: $color; }
@mixin height-line($height) { height: rem($height); line-height: rem($height); }

html, body, header, h1, h3, h6, input, ul, li, p{ margin: 0; padding: 0; }
a,button,input, div{-webkit-tap-highlight-color:rgba(255,0,0,0);}
a { text-decoration: none;
  &:focus { border: 0; }
}
body { position: absolute; top: 0; right: 0; bottom: 0; left: 0; font-family: "Helvetica Neue", Helvetica, sans-serif;}
